<table>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
  <%= button_to "logout", destroy_user_session_path, method: :delete  %>
</table>

<h1>Projects</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>

        <% if project.manager == current_user && current_user.manager?%>
          <td><%= link_to 'Users', project_path(project) %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% elsif project.users.include?(current_user) && current_user.developer?%>
          <td><%= link_to 'Users', project_path(project) %></td>
          <td><%= link_to "Bugs", project_bugs_path(project) %></td>

        <% elsif current_user.qa?%>
          <td><%= link_to 'Users', project_path(project) %></td>
          <td><%= link_to "Bugs", project_bugs_path(project) %></td>
          <td><%= link_to "Report Bug", new_project_bug_path(project) %></td>

        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%# <div style='text-align:center;' > %>
<% if current_user.manager? %>
  <%= link_to 'Create New Project', new_project_path %>
<% end%>
</div>
