<h1><%= @project.title %></h1>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<% if !current_user.manager? %>
  <strong>Manager:</strong>
  <%= @project.manager.name + ' (' + @project.manager.email + ')' %>
<% end %>
<br><br>
<h1>All Developers</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
	<tbody>
<% @developers.each do |developer|%>
  	<tr>
    <% if @project.users.include?(developer) && !current_user.manager? %>
	  	<td><%= developer.name %></td>
		  <td><%= developer.email %></td>
		<% elsif current_user.manager? %>
      <td><%= developer.name %></td>
		  <td><%= developer.email %></td>
		<% end %>

		<% if @project.users.include?(developer) && current_user.manager? %>

			<td><%= link_to 'Remove from Project', remove_user_project_path(@project, user_id: developer.id), class: "btn btn-danger" %></td></tr>
		<% elsif current_user.manager? %>
	  	<td><%= link_to 'Add to Project', add_user_project_path(@project, user_id: developer.id), class: "btn btn-success" %></td></tr>
		<% end %>
<% end %>
</tbody></table>

<br>
<h1>All QAs</h1>
<table>
	<tbody>
<% @qas.each do |qa|%>
  	<tr>
		<% if @project.users.include?(qa) && !current_user.manager? %>
	  	<td><%= qa.name %></td>
		  <td><%= qa.email %></td>
		<% elsif current_user.manager? %>
      <td><%= qa.name %></td>
		  <td><%= qa.email %></td>
		<% end %>
		<% if @project.users.include?(qa) && current_user.manager? %>
	  	<td><%= link_to 'Remove QA', remove_user_project_path(@project, user_id: qa.id), class: "btn btn-danger" %></tr></td>
		<% elsif current_user.manager? %>
			<td><%= link_to 'Add QA', add_user_project_path(@project, user_id: qa.id), class: "btn btn-success" %></tr></td>
		<% end %>
<% end %>
</tbody></table>

<br><br>
<div class="align-center">
	<%= link_to 'Back', projects_path, class: "btn btn-secondary" %>
	<% if current_user.manager? %>
	  <%= link_to 'Edit Project', edit_project_path(@project), class: "btn btn-primary" %>
	<% end%>
</div>
