<h1><%= @project.title %></h1>
<p><strong>Description:</strong>
  <%= @project.description %></p>
<br><h1>All Members</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>User Type</th>
    </tr>
  </thead>
	<tbody>
<% @users.each do |user|%>
  <tr>
	<% if true %>
		<td><%= user.name %></td>
	  <td><%= user.email %></td>
	  <td><%= user.user_type %></td>
	<% end %>

	<% if policy(@project).update? && @project.enrollments.exists?(user.id) %>
		<td><%= link_to 'Remove from Project', remove_user_project_path(@project, user_id: user.id), class: "btn btn-danger" %></td></tr>
	<% elsif policy(@project).remove_user? %>
	 	<td><%= link_to 'Add user to Project', add_user_project_path(@project, user_id: user.id), class: "btn btn-success" %></td></tr>
	<% end %>
<% end %>
</tbody></table>

<br><br>
<div class="align-center">
	<%= link_to 'Back', projects_path, class: "btn btn-secondary" %>
	<% if policy(@project).create? %>
	  <%= link_to 'Edit Project', edit_project_path(@project), class: "btn btn-primary" %>
	<% end%>
</div>
