<%= form_with(model: bug, url: [@project, @bug], local: true) do |form| %>

  <p >
    <%= form.label :title %>
    <%= form.text_field :title, required: true, autofocus: true, class: "form-control" %>
  </p><br>

  <p >
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </p><br>

  <p >
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, class: "form-select" %>
  </p><br>

  <p >
    <%= form.label :bug_type %>
    <%= form.select :bug_type, Bug.bug_types.keys.map { |t| [t.humanize, t] }, {class: "form-select"} %>
  </p><br>

  <p >
    <%= form.label :status %>
    <%= form.select :status, Bug.statuses.keys.map { |s| [s.humanize, s] }, {class: "form-select"} %>
  </p><br>

  <p >
    <%= form.label :screenshot %><br>
    <% if attached?(@bug) %>
      <%= image_tag @bug.screenshot.variant(resize: Bug::IMG_SIZE), alt: "#{@bug.title}"%>
    <% end %>
    <%= form.file_field :screenshot, class: 'form-control', direct_upload: true %>
  </p><br>

  <div>
    <%= form.submit class:'btn btn-success'%>
    <%= link_to 'Cancel', project_bugs_path, class: 'btn btn-secondary' %>
  </div><br>
<% end %>
