<%= form_with(model: bug, url: [@project, @bug], local: true) do |form| %>

  <div >
    <%= form.label :title %>
    <%= form.text_field :title, required: true, autofocus: true %>
  </div><br>

  <div >
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div><br>

  <div >
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline %>
  </div><br>

  <div >
    <%= form.label :bug_type %>
    <%= form.select :bug_type, Bug.bug_types.keys.map { |t| [t.humanize, t] } %>
  </div><br>

  <div >
    <%= form.label :status %>
    <%= form.select :status, Bug.statuses.keys.map { |s| [s.humanize, s] } %>
  </div><br>

  <div >
    <%= form.label :screenshot %><br>
    <% if attached?(@bug) %>
      <%= image_tag @bug.screenshot.variant(resize: Bug::IMG_SIZE), alt: "#{@bug.title}"%>
    <% end %>
    <%= form.file_field :screenshot, accept: Bug::IMG_TYPE, direct_upload: true %>
  </div><br>

  <div class='align-center'>
    <%= link_to 'Cancel', project_bugs_path, class: 'btn btn-secondary' %>
    <%= form.submit class:'btn btn-success'%>
  </div><br>
<% end %>
