<h1 class='align-center'><%= @bug.title %></h1>
<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bug.deadline %>
</p>

<p>
  <strong>Bug type:</strong>
  <%= @bug.bug_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bug.status %>
</p>

<p>
  <strong>Project Title:</strong>
  <%= @bug.project.title %>
</p>

<p>
  <strong>Bug Creator:</strong>
  <%= @bug.creator.name %>
</p>

<% if @bug.developer_id?%>
  <p>
    <strong>Bug Developer:</strong>
    <%= @bug.developer.name %>
  </p>
<% end %>

<p>
  <% if attached?(@bug) %>
    <strong>Screenshot:</strong><br>
    <%= image_tag @bug.screenshot.variant(resize: Bug::IMG_SIZE) %>
  <% end %>
</p>

<br>
<div class='align-center'>
  <%= link_to 'Back', project_bugs_path, class: 'btn btn-secondary' %>
  <% if can_modify?(@bug) %>
    <%= link_to 'Edit Bug', edit_project_bug_path(@project, @bug), class: 'btn btn-light' %>
  <% end %>
</div>
