<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bug.deadline %>
</p>

<p>
  <strong>Bug type:</strong>
  <%= @bug.bug_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bug.status %>
</p>

<% if current_user.qa? %>
  <% if @bug.status == 'Started' %>
    <strong>Assigned to:</strong>
    <%= @bug.developer.name %>
  <% elsif @bug.status == 'Resolved' %>
    <strong>Resolved by:</strong>
    <%= @bug.developer.name %>
  <% end %>
<% end %>

<% if current_user.developer? %>
  <strong>Reported by:</strong>
  <%= @bug.qa.name %>
<% end %>

<p>
  <% if @bug.screenshot.attached? %>
    <strong>Screenshot:</strong>
    <%= image_tag @bug.screenshot.variant(resize: '300x300'), accept: 'image/pgn, image/gif'%>
  <% end %>
</p>

<br>
<% if current_user.qa? %>
  <%= link_to 'Edit', edit_project_bug_path(@bug) %> |
<% end %>
<%= link_to 'Back', project_bugs_path %>
