<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bug.deadline %>
</p>

<p>
  <strong>Bug type:</strong>
  <%= @bug.bug_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bug.status %>
</p>

<p>
  <strong>Screenshot:</strong>
  <%= @bug.screenshot %>
</p>

<% if current_user.qa? %>
  <%= link_to 'Edit', edit_project_bug_path(@bug) %> |
<% end %>
<%= link_to 'Back', project_bugs_path %>
